body{
    background-color: gray;
}
#main{
    height: 50vh;
    width: 50%;
    background-color: white;
    position: relative;
    left: 8%;
    border: 6px groove gray;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    box-shadow: 10px 8px 13px black;
}
#section-1{
    height: 50vh;
    width: 50%;
    border-bottom-left-radius: 38%;
    background-size: 100% 50vh;
}
form{
    position: relative;
    bottom: 310px;
    left: 42% ;
    line-height: 30px;
    font-size: 27px;
}
input{
    height: 25px;
    width: 120%;
    border: 2px solid rgb(63,61,89);
    border-radius: 5%;
}
::placeholder{
    position: relative;
    left: 20%;
    color:green ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bolder;
}
label{
    color: rgb(12,12,12);
}
button[type="submit"]{
    position: relative;
    left: 45%;
    height: 35px;
    width: 95px;
    font-size: 20px;
    font-weight: bolder;
    background-color: grey;

    border-radius: 8%;
    cursor: pointer;
    border: 3px solid black;
    transition: all 0.5s linear;
}
button[type="submit"]:hover{
    transform: scale(1.2,1.2);
}

button[type="reset"]{
    position: relative;
    left: 40%;
    height: 35px;
    width: 80px;
    font-size: 20px;
    font-weight: bolder;
    background-color: grey;
    border-radius: 8%;
    cursor: pointer;
    border: 3px solid black;
    transition: all 0.5s linear;
}
button[type="reset"]:hover{
    transform: scale(1.2,1.2);
}
h1{
    font-size: 50px;
    position: relative;
    left: 15%;
    color: orangered;
}
